<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>879871233670-ksq2151nt3qvkapa3rmt1ei7ltv74cbj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.879871233670-ksq2151nt3qvkapa3rmt1ei7ltv74cbj</string>
	<key>API_KEY</key>
	<string>AIzaSyBZFtmzkPtqltnI4ktwDwEiFJieKfQUUw8</string>
	<key>GCM_SENDER_ID</key>
	<string>879871233670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notificationAppFlutter</string>
	<key>PROJECT_ID</key>
	<string>notification-app-2ef41</string>
	<key>STORAGE_BUCKET</key>
	<string>notification-app-2ef41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879871233670:ios:18b908b8ad624effe6cb07</string>
</dict>
</plist>